.preview {
    width: 100px;
    height: 100px;
}

.drop-zone {
    border: medium dotted#337ab7;
    width: 90%; 
    height: 300px;
    padding: 15px;
    border-radius: 10px;
}

.upload {
    margin: auto 0;
    text-align: center;
    color: #337ab7;
    cursor: pointer;
}

.gif-preview {
    text-align: center;
}